
<input type='hidden' name='redir' value='<%= redir %>'>


<p>
  <b>Nombre </b>: <%= patient.name %>
</p>

<p>
  <b>Dirección </b>: <%= patient.address %>
</p>

<p>
  <b>Ciudad </b>: <%= patient.city %>
</p>

<p>
  <b>Telefóno </b>: <%= patient.phone %>
</p>

<p>
  <b>Doctor por defecto </b>: <%= patient.doctor %>
</p>

<p>
	<label><b>Doctor </b>:</label>
	<input type="text" name="doctor" value="<%= report.doctor %>" placeholder="Doctor"  autocomplete="off" autofocus />
</p>

<p>
	<label><b>Fecha de recepción  </b>(dd-mm-aaaa):</label>
	<input type="text" name="receptionAt" 
	       value="<%= moment(report.receptionAt).format("DD-MM-YYYY") %>" 
	       pattern="\d\d-\d\d-\d\d\d\d"
	       placeholder="dd-mm-aaaa" 
	       autocomplete="off" />
</p>

<p>
	<label><b>Fecha última menstruación </b>:</label>
	<input type="text" name="lastMenstruationAt" 
	       value="<%= report.lastMenstruationAt %>" 
	       placeholder="Fecha última menstruación" 
	       autocomplete="off" />
</p>

<p>
	<label><b>Día del ciclo</b>:</label>
	<input type="text" name="cycleDay" value="<%= report.cycleDay %>" placeholder="Día del ciclo"  autocomplete="off" />
</p>

<p>



