
<form method="get" action="<%= url %>"  class="right">

    <div class="vcenter">
        Filtros:
        <input type="image" width="24px" src="/images/find.png" border="0" alt="Submit" />
    </div>


    <label>Paciente:</label>
    <input type="text" name="searchpatient" value="<%= locals.searchpatient || '' %>" placeholder="paciente a buscar" size="40" autocomplete="off"/>

    <br />

    <label>Doctor:</label>
    <input type="text" name="searchdoctor" value="<%= locals.searchdoctor || '' %>" placeholder="doctor a buscar"  size="40"  autocomplete="off"/>

    <br />

    <label>Desde:</label>
    <input type="text" 
           name="searchdate1" 
           value="<%= locals.searchdate1 || '' %>" 
           placeholder="dd-mm-aaaa" 
           autocomplete="off"/>

    <label>Hasta:</label>
    <input type="text" 
           name="searchdate2" 
           value="<%= locals.searchdate2 || '' %>" 
           placeholder="dd-mm-aaaa" 
           autocomplete="off"/>

    <br />

    <label>Imprimido:</label>
    Todos: <input type="radio" name="searchprinted" value="todos" <%= locals.searchprinted == "todos" ? "checked" : "" %> >  
    Si: <input type="radio" name="searchprinted" value="si" <%= locals.searchprinted == "si" ? "checked" : "" %> > 
    No: <input type="radio" name="searchprinted" value="no" <%= locals.searchprinted == "no" ? "checked" : "" %> > 

    <br />

</form>

<h2> 
    Informes: 

    <a href="/goback"><img width="24px" src="/images/back.png"></a>

    <% 
        var urlPrint = ""; 
        if (locals.patientId) { 
            urlPrint = "/patients/" + locals.patientId;
        } 
        urlPrint += "/reports/print?";        
        urlPrint += "searchpatient=" + (locals.searchpatient || '') + "&";
        urlPrint += "searchdoctor=" + (locals.searchdoctor || '') + "&";
        urlPrint += "searchdate1=" + (locals.searchdate1 || '') + "&";
        urlPrint += "searchdate2=" + (locals.searchdate2 || '') + "&";
        urlPrint += "searchprinted=" + (locals.searchprinted || 'todos');
    %>
    <a href="<%= urlPrint %>">
        <img width="24px" src="/images/print.png">
    </a>
</h2>

<%  if (locals.paginate_control) { %>
  <%- paginate_control %>
<% } %>


<table>
    <tr>
        <th>
            Paciente
        </th>
        <th>
            Fecha
        </th>
        <th>
            Doctor
        </th>
        <th>
            Impreso
        </th>
        <th>
            
        </th>
    </tr> 

    <% for (var i in reports) { %> 
        <% var report = reports[i]; %>      
        <% var patient = report.Patient %>
        
        <%  if (!patient) continue; %>
        
        <tr>
            <td>
                <%= report.Patient.name %>
            </td>
            <td>
                <%= moment(report.receptionAt).format("DD-MM-YYYY") %>
            </td>
            <td>
                <%= report.doctor %>
            </td>
            <td>
                <%= report.printed ? "Si" : "No" %>
            </td>
            <td>
                <a href="/patients/<%= patient.id %>/reports/<%= report.id %>"><img height="24px" width="24px" src="/images/ver.png"></a>

                <a href="/patients/<%= patient.id %>/reports/<%= report.id %>/edit"><img width="24px" src="/images/edit.png"></a>

                <a href="/patients/<%= patient.id %>/reports/<%= report.id %>?_method=DELETE" 
                   onClick="return confirm('¿Seguro que desea borrar el informe de <%= patient.name %>?');"><img width="24px" src="/images/basura.png"></a>

                <a href="/patients/<%= patient.id %>/reports/<%= report.id %>/print"><img width="24px" src="/images/print.png"></a>  
            </td>

        </tr> 
    <% } %>
<table>


