

<h2> 

    Informes: 

</h2>


<ul>
    <% for (var i in reports) { %> 
        <% var report = reports[i]; %>      
        <% var patient = report.Patient %>
        
        <li>
            Paciente: <b> <%= report.Patient.name %> </b>
            (<%= moment(report.receptionAt).format("DD/MM/YYYY") %>)
            <%= report.doctor %>
            <%= moment(report.receptionAt).format("DD/MM/YYYY") %>
            <%= report.lastMenstruationAt %>
            <%= report.cycleDay %>

            <a href="/patients/<%= patient.id %>/reports/<%= report.id %>"><button>Ver</button></a>

            <a href="/patients/<%= patient.id %>/reports/<%= report.id %>/edit"><button>editar</button></a>

            <a href="/patients/<%= patient.id %>/reports/<%= report.id %>?_method=DELETE" 
               onClick="return confirm('¿Seguro que desea borrar el informe de <%= patient.name %>?');">
                   <button>borrar</button>
            </a>

        </li> 
    <% } %>
</ul>

