<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="always" />
    <title> PAP-TEST </title>
    <link rel='stylesheet' href='/stylesheets/print.css' />

     <script>
        function printReport() {

            <% for (var ri in reports) { %>
                <% var report = reports[ri]; %>

                var request = new XMLHttpRequest();
                var url = "/patients/<%= report.Patient.id %>/reports/<%= report.id %>/printed?_method=PUT";
                request.open("POST", url); 
                request.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                request.onreadystatechange = function() {
                    if (request.readyState === 4 && request.status === 200) {
                        console.log("Informe <%= report.id %> marcado como imprimido.");
                    }
                };
                request.send(null);
            <% } %>

            window.print();

            return false;
        }
    </script>

</head> 

<body class="page">


<div class="example-screen">

    <a href="/goback"><img width="24px" src="/images/back.png"></a>

    <a href="" onclick="printReport();"><img width="24px" src="/images/print.png"></a>

</div>


<% for (var ri in reports) { %>
    <% var report = reports[ri]; %>

    <header class="header1">

        <div class="logo">
            <img width="160px" height="95px" src="/images/paplogo.png" />
        </div>

        <div class="perea">
            <h1> 
                Dr. Perea
            </h1>
        </div>

        <div class="paptest">
            <h1> 
                PAP - TEST
            </h1>
        </div>
    </header>


    <header class="header2">
        <div class="patient">
            <p>
                Dª. <%= report.Patient.name %>
            </p>
        </div>
        <div class="report">
            <p>
                <b> Prescripción Dr./a</b>: <%= report.doctor %>
                <br />
                <b>Fecha de recepción</b>: <%= moment(report.receptionAt).format("DD-MM-YYYY") %>
                <br />
                <b>U.R.</b>: <%= report.lastMenstruationAt %>
                <br />
                <b>D.C.</b>: <%= report.cycleDay %>
            </p>
        </div>
    </header>



    <section class="diagnoses">

        <h2 class="underline">
            ORIENTACIÓN DIAGNOSTICA DEL EXTENDIDO 
        </h2>

        <% for (var i in report.diagnosesInfo) { %> 
            <% var diagnose = report.diagnosesInfo[i]; %>      

            <article>
                <h3 class="underline">
                    <%= diagnose.dtype.title %>
                </h3>

                <p class="dtresult">
                    <!-- 
                    <%= diagnose.dtresult.title %>
                    <br />
                    -->
                    <%= diagnose.dtresult.description %>
                </p>

                <% if (diagnose.resultNotes) { %>
                    <p class="resultnotes">
                        <%= diagnose.resultNotes %>
                    </p>
                <% } %>

                <p class="dtroption">
                    <!--
                    <%= diagnose.dtroption.title %>
                    <br />
                    -->
                    <%= diagnose.dtroption.description %>
                </p>

                <% if (diagnose.optionNotes) { %>
                    <p class="optionnotes">
                        <%= diagnose.optionNotes %>
                    </p>
                <% } %>
                
            </article>
        <% } %>

    </section>

    <footer></footer>

<% } %>


</body> 
</html>


