<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="always" />
    <title> PAP-TEST </title>
    <link rel='stylesheet' href='/stylesheets/print.css' />
</head> 

<body>

<header class="header1">

	<div class="logo">
	    <img width="160px" height="99px" src="/images/paplogo.png" />
	</div>

	<div class="perea">
		<h1> 
		    Dr. Perea
		</h1>
	</div>

	<div class="paptest">
	    <h1> 
		    PAP - TEST
	    </h1>
	</div>
</header>


<header class="header2">
	<div class="patient">
		<p>
	  		Dª. <%= patient.name %>
		</p>
	</div>
	<div class="report">
	    <p>
		    <b> Prescripción Dr./a</b>: <%= report.doctor %>
		  <br />
			<b>Fecha de recepción</b>: <%= moment(report.receptionAt).format("DD-MM-YYYY") %>
		  <br />
			<b>U.R.</b>: <%= report.lastMenstruationAt %>
		  <br />
			<b>D.C.</b>: <%= report.cycleDay %>
		</p>
	</div>
</header>



<section class="diagnoses">

	<h2 class="underline">
		ORIENTACIÓN DIAGNOSTICA DEL EXTENDIDO 
	</h2>

	<% for (var i in diagnoses) { %> 
	    <% var diagnose = diagnoses[i]; %>      

	    <article>
		    <h3 class="underline">
		    	<%= diagnose.dtype.title %>
		    </h3>

		    	<p class="dtresult">
			    	<!-- 
			    	<%= diagnose.dtresult.title %>
			    	<br />
			    	-->
			    	<%= diagnose.dtresult.description %>
		    	</p>

		    	<p class="dtroption">
		    		<!--
			    	<%= diagnose.dtroption.title %>
			    	<br />
			    	-->
			    	<%= diagnose.dtroption.description %>
		    	</p>
	    </article>
	<% } %>

</section>

<hr />

<% var redir = redir || "/" %>
<a href="<%= redir %>">
	<button type="button">Volver</button>
</a>


</body> 
</html>