
<h1> Informe </h1>


<p>
	Doctor:
	<%= report.doctor %>
</p>

<p>
	Fecha de recepción:
	<%= moment(report.receptionAt).format("DD-MM-YYYY") %>
</p>

<p>
	Fecha última menstruación:
    <%= report.lastMenstruationAt %>
</p>

<p>
	Día del ciclo:
	<%= report.cycleDay %>
</p>


<%  var diagnoses = report.Diagnoses %>

<hr />
	<%- include ../diagnoses/index.ejs %>
<hr />

<% var redir = redir || "/reports" %>
<a href="<%= redir %>">
	<button type="button">Volver</button>
</a>

<a href="/patients/<%= patient.id %>/reports/<%= report.id %>/edit?redir=<%= redir %>">
    <button>editar</button>
</a>

<a href="/patients/<%= patient.id %>/reports/<%= report.id %>?redir=<%= redir %>&_method=DELETE" 
   onClick="return confirm('¿Seguro que desea borrar el informe de <%= patient.name %>?');">
       <button>borrar</button>
</a>



<a href="/patients/<%= patient.id %>/reports/<%= report.id %>/print?redir=<%= redir %>">
    <button>imprimir</button>
</a>




