
<h1> 
	Informe 

	<% var redir = redir || "/reports" %>
	<a href="<%= redir %>">
		<img width="24px" src="/images/back.png">
	</a>

	<a href="/patients/<%= patient.id %>/reports/<%= report.id %>/edit?redir=<%= redir %>"><img width="24px" src="/images/edit.png"></a>

	<a href="/patients/<%= patient.id %>/reports/<%= report.id %>?redir=<%= redir %>&_method=DELETE" 
	   onClick="return confirm('¿Seguro que desea borrar el informe de <%= patient.name %>?');"><img width="24px" src="/images/basura.png"></a>


	<a href="/patients/<%= patient.id %>/reports/<%= report.id %>/print?redir=<%= redir %>"><img width="24px" src="/images/print.png"></a>

</h1>


<ul>
	<li>
  		<b> Nombre </b>: <%= patient.name %>
	</li>

	<li>
  		<b> Dirección </b>: <%= patient.address %>
	</li>

	<li>
  		<b> Ciudad </b>: <%= patient.city %>
	</li>

	<li>
  		<b> Telefóno </b>: <%= patient.phone %>
	</li>

	<li>
  		<b> Doctor por defecto </b>: <%= patient.doctor %>
	</li>

	<li>
		<b> Doctor </b>:
		<%= report.doctor %>
	</li>

	<li>
		<b> Fecha de recepción </b>:
		<%= moment(report.receptionAt).format("DD-MM-YYYY") %>
	</li>

	<li>
		<b> Fecha última menstruación </b>:
	    <%= report.lastMenstruationAt %>
	</li>

	<li>
		<b> Día del ciclo </b>:
		<%= report.cycleDay %>
	</li>
</ul>

<%  var diagnoses = report.Diagnoses %>

<hr />
	<%- include ../diagnoses/index.ejs %>
<hr />




