

<h1> 
    Diagnósticos: 

    <a href="/dtypes/new"><img width="24px" src="/images/add.png"></a>
</h1>

<table>
    <tr>
        <th>
            Código
        </th>
        <th>
            Título
        </th>

        <th>
            
        </th>
    </tr> 

    <% for (var i in dtypes) { %> 
        <% var dtype = dtypes[i]; %>      

        <tr>
            <td>
                <%= dtype.code %>
            </td>
            <td>
                <%= dtype.title %>
            </td>
            <td>
                <a href="/dtypes/<%= dtype.id %>"><img width="24px" src="/images/ver.png"></a>

                <a href="/dtypes/<%= dtype.id %>/edit"><img width="24px" src="/images/edit.png"></a>

                <a href="/dtypes/<%= dtype.id %>?_method=DELETE" 
                   onClick="return confirm('¿Seguro que quiere borrar el diagnóstico: <%= dtype.code %>?');"><img width="24px" src="/images/basura.png"></a>
            </td>
         </tr> 
    <% } %>

</table>

