

<h3> 
    Opciones: 

    <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/dtroptions/new">
        <img width="24px" src="/images/add.png">
    </a>

</h3>

<ul>
    <% for (var i in dtroptions) { %> 
        <% var dtroption = dtroptions[i]; %>      

        <li>
            <% if (dtroption.code !== "" && dtroption.title !== "") { %>
                <b> <%= dtroption.code %> - <%= dtroption.title %> </b>
            <% } else {%>
                Vacío.
            <% } %>

            <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/dtroptions/<%= dtroption.id %>/edit"><img width="24px" src="/images/edit.png"></a>

            <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/dtroptions/<%= dtroption.id %>?_method=DELETE" 
               onClick="return confirm('Borrar: <%= dtroption.code %>');"><img width="24px" src="/images/basura.png"></a>

            <p>
               <%- escapeText(dtroption.description) %>
            </p>
        </li> 

    <% } %>
</ul>

