
<script src="/javascripts/misc_form.js"></script>

<form method="get" action="<%= url %>" id="filterForm" class="right filters">

    <input type="hidden" name="forceCustomerId" value=<%= locals.forceCustomerId %> >

    <div class="vcenter">
        Filtros:
        <input type="image" class="icon" src="/images/find.png" border="0" alt="Submit" />

        <input type="image" class="icon right" src="/images/cancel.png" border="0"
                onClick="cleanupForm('filterForm')" />

    </div>

    <label>Planificado desde:</label>
    <input type="text"
           name="searchdateafter"
           value="<%= locals.searchdateafter || '' %>"
           placeholder="dd-mm-aaaa"
           pattern="\d\d-\d\d-\d\d\d\d"
           size="10"
           autocomplete="off" />

    <label>Hasta:</label>
    <input type="text"
           name="searchdatebefore"
           value="<%= locals.searchdatebefore || '' %>"
           placeholder="dd-mm-aaaa"
           pattern="\d\d-\d\d-\d\d\d\d"
           size="10"
           autocomplete="off" />

    <br />

    <% if (!locals.customer) { %>
        <label>Cliente:</label>
        <input type="text" name="searchcustomer" value="<%= locals.searchcustomer || '' %>" placeholder="Cliente a buscar" size="40" autocomplete="off" />

        <br />
    <% } %>

    <% if (!locals.forceSalesmanId) { %>
        <label>Vendedor:</label>
        <input type="text" name="searchsalesman" value="<%= locals.searchsalesman || '' %>" placeholder="Vendedor a buscar" size="40" autocomplete="off" />

        <br />
    <% } %>

</form>



<h1>
    <% if (locals.customer) { %>
        <% if (locals.forceSalesmanId) { %>
            Mis visitas a <em><%= locals.customer.name %></em>:
        <% } else { %>
            Visitas a <em><%= locals.customer.name %></em>:
        <% } %>
    <% } else { %>
        <% if (locals.forceSalesmanId) { %>
            Mis visitas:
        <% } else { %>
            Todas las visitas:
        <% } %>
    <% } %>


    <a href="/goback"><img class="icon" src="/images/back.png"></a>

    <a href="/visits/new"><img class="icon" src="/images/add.png"></a>
</h1>

<%  if (locals.paginate_control) { %>
<%- paginate_control %>
<% } %>

<table>
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Vendedor
        </th>
        <th>
            Planificado
        </th>
        <th>
            Realizado
        </th>
        <th>
            Objetivos
        </th>
        <th>
            Observaciones
        </th>
        <th>
            
        </th>
    </tr> 

    <% for (var i in visits) { %> 
        <% var visit = visits[i]; %>

        <% var customerCode = visit.Customer && visit.Customer.code || ""; %>
        <% var customerId = visit.Customer && visit.Customer.id || 0; %>

        <% var salesmanName = visit.Salesman && visit.Salesman.name || ""; %>
        <% var salesmanPhotoUrl = visit.Salesman && visit.Salesman.Photo && visit.Salesman.Photo.url || ""; %>

        <tr>
            <td>
                <% if (customerCode) { %>
                    <a href="/customers/<%= customerId %>"> <%= customerCode %> </a>
                <% } else { %>
                    <% customerCode = "SIN CLIENTE"; %>
                    <span class='toberepared'><%= customerCode %></span>
                <% } %>
            </td>
            <td>
                <div class="vcenter">
                    <% if (salesmanPhotoUrl) { %>
                        <img src="<%= salesmanPhotoUrl %>" width="30px" />
                    <% } else { %>
                        <img src="/images/face.png" width="30px" />
                    <% } %>

                    <% if (salesmanName) { %>
                        <%= salesmanName %>
                    <% } else { %>
                        <% salesmanName = "SIN VENDEDOR"; %>
                    <span class='toberepared'><em><%= salesmanName %></em></span>
                    <% } %>
                </div>
            </td>
            <td>
                <%= moment(visit.plannedFor).format("DD-MM-YYYY") %>
            </td>
            <td>
            <%= !!visit.fulfilledAt ? moment(visit.fulfilledAt).format("DD-MM-YYYY") : "PENDIENTE" %>
            </td>
            <td>
                <%= visit.Targets.length %>
            </td>
            <td>
                <%= visit.notes === "" ? "No" : "Si" %>
            </td>
            <td>
                <a href="/visits/<%= visit.id %>"><img class="icon" src="/images/ver.png"></a>

                <% if (session.user && session.user.isAdmin) { %>
                    <a href="/visits/<%= visit.id %>?_method=DELETE"
                       onClick="return confirm('¿Seguro que quiere borrar la visita de <%= salesmanName %> a <%= customerCode %>?');"><img class="icon" src="/images/basura.png"></a>
                <% } %>
            </td>
         </tr> 
    <% } %>

</table>

