
<% include _filter.ejs %>


<h1>
    <% if (locals.customer) { %>
    <% if (locals.salesman) { %>
    Mis visitas a <em><%= locals.customer.name %></em>:
    <% } else { %>
    Visitas a <em><%= locals.customer.name %></em>:
    <% } %>
    <% } else { %>
    <% if (locals.salesman) { %>
    Mis visitas:
    <% } else { %>
    Todas las visitas:
    <% } %>
    <% } %>

    <a href="/goback"><img class="icon" src="/images/back.png"></a>

    <a href="/visits/new"><img class="icon" src="/images/add.png"></a>

</h1>

<% if (locals.paginate_control) { %>
<%- paginate_control %>
<% } %>

<table>
    <tr>
        <th>
            Cliente
        </th>
        <th>
            Vendedor
        </th>
        <th>
            Planificado
        </th>
        <th>
            Realizado
        </th>
        <th>
            Objetivos
        </th>
        <th>
            Observaciones
        </th>
        <th colspan="3">

        </th>
    </tr>

    <% for (var i in visits) { %>
    <% var visit = visits[i]; %>

    <% var customerCode = visit.Customer && visit.Customer.code || ""; %>
    <% var customerId = visit.Customer && visit.Customer.id || 0; %>

    <% var salesmanName = visit.Salesman && visit.Salesman.name || ""; %>
    <% var salesmanPhotoUrl = visit.Salesman && visit.Salesman.Photo && visit.Salesman.Photo.url || ""; %>
    <% var salesmanId = visit.Salesman && visit.Salesman.id || 0; %>

    <tr>
        <td>
            <% if (customerCode) { %>
            <a href="/customers/<%= customerId %>"> <%= customerCode %> </a>
            <% } else { %>
            <% customerCode = "SIN CLIENTE"; %>
            <span class='toberepared'><%= customerCode %></span>
            <% } %>
        </td>
        <td>
            <div class="vcenter">
                <% if (salesmanPhotoUrl) { %>
                <img src="<%= salesmanPhotoUrl %>" width="30px"/>
                <% } else { %>
                <img src="/images/face.png" width="30px"/>
                <% } %>

                <% if (salesmanName) { %>
                <a href="/salesmen/<%= salesmanId %>"> <%= salesmanName %> </a>
                <% } else { %>
                <% salesmanName = "SIN VENDEDOR"; %>
                <span class='toberepared'><em><%= salesmanName %></em></span>
                <% } %>
            </div>
        </td>
        <td>
            <%= moment(visit.plannedFor).format("DD-MM-YYYY") %>
        </td>
        <td>
            <% if (!!visit.fulfilledAt) { %>
            <%= moment(visit.fulfilledAt).format("DD-MM-YYYY") %>
            <% } else { %>
            <span class='tobedone'><em>PENDIENTE</em></span>
            <% } %>
        </td>
        <td>
            <%= visit.Targets.length %>
        </td>
        <td>
            <%= visit.notes === "" ? "No" : "Si" %>
        </td>
        <td>
            <a href="/visits/<%= visit.id %>"><img class="icon" src="/images/ver.png"></a>
        </td>
        <td>

            <% if (session.user && session.user.isAdmin) { %>
            <a href="/visits/<%= visit.id %>?_method=DELETE"
               onClick="return confirm('¿Seguro que quiere borrar la visita de <%= salesmanName %> a <%= customerCode %>?');"><img
                        class="icon" src="/images/basura.png"></a>
            <% } %>
        </td>

        <td>
            <%- include ../favourites/_stars.ejs %>
        </td>

    </tr>
    <% } %>

</table>

