
	<label>Nombre:</label>
	<input type="text" name="name" value="<%= patient.name %>" placeholder="Nombre"  autocomplete="off" /> <p>

	<label>Dirección:</label>
	<input type="text" name="address" value="<%= patient.address %>" placeholder="Dirección"  autocomplete="off" /> <p>

	<label>Ciudad:</label>
	<input type="text" name="city" value="<%= patient.city %>" placeholder="Ciudad"  autocomplete="off" /> <p>

	<label>Teléfono:</label>
	<input type="text" name="phone" value="<%= patient.phone %>" placeholder="Teléfono"  autocomplete="off" /> <p>

	<label>Doctor:</label>
	<input type="text" name="doctor" value="<%= patient.doctor %>" placeholder="Doctor"  autocomplete="off" /> <p>


