
	<label>Nombre:</label>
	<input type="text" name="name" value="<%= patient.name %>" placeholder="Nombre" size="100" autocomplete="off" /> <p>

	<label>Dirección:</label>
	<input type="text" name="address" value="<%= patient.address %>" placeholder="Dirección" size="100" autocomplete="off" /> <p>

	<label>Ciudad:</label>
	<input type="text" name="city" value="<%= patient.city %>" placeholder="Ciudad" size="50" autocomplete="off" /> <p>

	<label>Teléfono:</label>
	<input type="text" name="phone" value="<%= patient.phone %>" placeholder="Teléfono" size="20" autocomplete="off" /> <p>

	<label>Doctor:</label>
	<input type="text" name="doctor" value="<%= patient.doctor %>" placeholder="Doctor" size="100" autocomplete="off" /> <p>


