
	<label>Nombre:</label>
	<input type="text" name="name" value="<%= patient.name %>" placeholder="Nombre" /> <p>

	<label>Dirección:</label>
	<input type="text" name="address" value="<%= patient.address %>" placeholder="Dirección" /> <p>

	<label>Ciudad:</label>
	<input type="text" name="city" value="<%= patient.city %>" placeholder="Ciudad" /> <p>

	<label>Teléfono:</label>
	<input type="text" name="phone" value="<%= patient.phone %>" placeholder="Teléfono" /> <p>

	<label>Doctor:</label>
	<input type="text" name="doctor" value="<%= patient.doctor %>" placeholder="Doctor" /> <p>


	<a href="/patients"><button type="button">Cancelar</button></a>

	<input type="submit" value="Salvar">
