

<h1> 
    Pacientes 

    <a href="/patients/new"><img width="24px" src="/images/add.svg"></a>
</h1>


<%  if (locals.paginate_control) { %>
  <%- paginate_control %>
<% } %>


<form method="get" action="/patients" class="right">
    <label>Filtar por nombre:</label>
    <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="texto a buscar" autocomplete="off"/>
    <input type="image" width="24px" src="/images/find.svg" border="0" alt="Submit" />
</form>


<table>
    <% for (var i in patients) { %> 
        <% var patient = patients[i]; %>     

        <% var redir = url || "/patients"; %>

        <tr>
            <td>
                <a href="/patients/<%= patient.id %>?redir=<%= redir %>"><%= patient.name %></a>
            </td>

            <td>
                <a href="/patients/<%= patient.id %>/edit"><img width="24px" src="/images/edit.svg"></a>

                <a href="/patients/<%= patient.id %>?_method=DELETE" 
                   onClick="return confirm('¿Seguro que desea borrar la paciente <%= patient.name %> y sus informes?');"><img width="24px" src="/images/basura.svg"></a>

                <% var redir2 = url || "/patients"; %>

                Crear informe: <a href="/patients/<%= patient.id %>/reports/auto?redir=<%= redir %>&_method=POST"><img width="24px" src="/images/add.svg"></a>

                Ver informes: <a href="/patients/<%= patient.id %>/reports?redir=<%= redir %>"><img width="24px" src="/images/reports.svg" alt="Ver informes"></a>
            </td>
        </tr> 
    <% } %>
</table>


