

<h1> 
    Pacientes 

    <a href="/patients/new"><button type="button">Crear nueva paciente</button></a>
</h1>

<form method="get" action="/patients" class="right">
    <label>Filtar por nombre:</label>
    <input type="text" name="search" value="<%= locals.search || '' %>" placeholder="texto a buscar" autocomplete="off"/>
    <input type="submit" value="Buscar">
</form>


<table>
    <% for (var i in patients) { %> 
        <% var patient = patients[i]; %>     

        <% var redir = url || "/patients"; %>

        <tr>
            <td>
                <a href="/patients/<%= patient.id %>?redir=<%= redir %>"><%= patient.name %></a>
            </td>

            <td>
                <a href="/patients/<%= patient.id %>/edit"><button>editar</button></a>

                <a href="/patients/<%= patient.id %>?_method=DELETE" 
                   onClick="return confirm('¿Seguro que desea borrar la paciente <%= patient.name %> y sus informes?');">
                   <button>borrar</button>
                </a>

                <% var redir2 = url || "/patients"; %>

                <a href="/patients/<%= patient.id %>/reports/auto?redir=<%= redir %>&_method=POST"><button>Crear nuevo informe</button></a>

                <a href="/patients/<%= patient.id %>/reports?redir=<%= redir %>"><button>Ver informes existentes</button></a>
            </td>
        </tr> 
    <% } %>
</table>


