
<h2> Paciente</h2>

       
    <p>
      Nombre: <%= patient.name %>
    </p>

    <p>
      Dirección: <%= patient.address %>
    </p>

    <p>
      Ciudad: <%= patient.city %>
    </p>

    <p>
      Telefóno: <%= patient.phone %>
    </p>

    <p>
      Doctor: <%= patient.doctor %>
    </p>
