
<h2> 
    Paciente

    <a href="/patients/<%= patient.id %>/edit"><img width="24px" src="/images/edit.png"></a>

    <!-- a href="/patients"><img width="24px" src="/images/back.png"></a -->

    <a href="/goback"><img width="24px" src="/images/back.png"></a>
</h2>


<ul>       
	<li>
		<b> Nombre </b>: <%= patient.name %>
	</li>

	<li>
		<b> Dirección </b>: <%= patient.address %>
	</li>

	<li>
		<b> Ciudad </b>: <%= patient.city %>
	</li>

	<li>
		<b> Telefóno </b>: <%= patient.phone %>
	</li>

	<li>
		<b> Doctor </b>: <%= patient.doctor %>
	</li>
</ul>



<div class="vcenter">
	Ver informes existentes: <a href="/patients/<%= patient.id %>/reports"><img width="24px" src="/images/reports.png"></a>
</div>

<div  class="vcenter">
	Crear informe: <a href="/patients/<%= patient.id %>/reports/auto?_method=POST"><img width="24px" src="/images/add.png"></a>
</div>


