
<h2> 
    Paciente

    <a href="/patients/<%= patient.id %>/edit"><img width="24px" src="/images/edit.svg"></a>
</h2>

       
<p>
  Nombre: <%= patient.name %>
</p>

<p>
  Dirección: <%= patient.address %>
</p>

<p>
  Ciudad: <%= patient.city %>
</p>

<p>
  Telefóno: <%= patient.phone %>
</p>

<p>
  Doctor: <%= patient.doctor %>
</p>


<% var redir = url || "/patients" %>


Ver informes existentes: <a href="/patients/<%= patient.id %>/reports?redir=<%= redir %>"><img width="24px" src="/images/reports.svg"></a>

<br />

Crear informe: <a href="/patients/<%= patient.id %>/reports/auto?redir=<%= redir %>&_method=POST"><img width="24px" src="/images/add.svg"></a>

<br />

<a href="/patients"><img width="24px" src="/images/back.svg"></a>
