

<h1> 
    Vendedores Eliminados:

    <a href="/goback"><img class="icon" src="/images/back.png"></a>
</h1>

<table>
    <tr>
        <th>
            Borrado
        </th>
        <th>
            Nombre
        </th>
        <th>
        </th>
    </tr> 

    <% for (var i in salesmen) { %> 
        <% var salesman = salesmen[i]; %>      

        <tr>
            <td>
                <%= moment(salesman.deletedAt).format("DD-MM-YYYY") %>
            </td>
            <td>
                <div class="vcenter">

                    <% if (salesman.Photo) { %>
                        <img src="<%= salesman.Photo.url %>" width="30px" />
                    <% } else { %>
                        <img src="/images/face.png" width="30px" />
                    <% } %>

                    <%= salesman.name %>
                </div>
            </td>
            <td>
                <% if (session.user && session.user.isAdmin) { %>
                <a href="/trash/salesmen/<%= salesman.id %>?_method=POST"><img class="icon" src="/images/restore.png"></a>
                <% } %>


                <% if (session.user && session.user.isAdmin) { %>
                <a href="/trash/salesmen/<%= salesman.id %>?_method=DELETE"
                   onClick="return confirm('¿Seguro que quiere borrar DEFINITIVAMENTE el vendedor: <%= salesman.name %>?');"><img class="icon" src="/images/kill.png"></a>
                <% } %>
            </td>
         </tr> 
    <% } %>

</table>

