

<h2> Resultados: </h2>

<a href="/dtypes/<%= dtype.id %>/dtresults/new"><button type="button">Crear nuevo resultado</button></a>

<table>
  <% for (var i in dtresults) { %> 
    <% var dtresult = dtresults[i]; %>      

     <tr>
        <td>
           <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>"> <%= dtresult.code %> - <%= dtresult.title %> </a>
        </td>

        <td>
            <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/edit"><button>editar</button></a>
            <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>?_method=DELETE" 
               onClick="return confirm('Borrar: <%= dtresult.code %>');">
               <button>borrar</button>
            </a>
        </td>
     </tr> 

     <tr>
        <td>
           <%= dtresult.description %>
        </td>
     </tr> 


 
     <tr>
        <td>
            <%  var dtroptions = dtresult.DTROptions %>

            <%- include ../dtroptions/index.ejs %>
        </td>
     </tr> 



  <% } %>
</table>


