

<h2> 

    Resultados: 

    <a href="/dtypes/<%= dtype.id %>/dtresults/new">
        <img width="24px" src="/images/add.svg">
    </a>

</h2>


<ul>
    <% for (var i in dtresults) { %> 
        <% var dtresult = dtresults[i]; %>      

        <li>
            <b> <%= dtresult.code %> - <%= dtresult.title %> </b>

            <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>/edit"><img width="24px" src="/images/edit.svg"></a>

            <a href="/dtypes/<%= dtype.id %>/dtresults/<%= dtresult.id %>?_method=DELETE" 
                onClick="return confirm('¿Seguro que desea borrar el resultado: <%= dtresult.code %>?');">
                <img width="24px" src="/images/basura.svg">
            </a>

            <p>
               <%- escapeText(dtresult.description) %>
            </p>

            <%  var dtroptions = dtresult.DTROptions %>

            <%- include ../dtroptions/index.ejs %>

        </li> 
    <% } %>
</ul>


