

<h1> 
    Fábricas:

    <% if (session.user && session.user.isAdmin) { %>
        <a href="/companies/new"><img class="icon" src="/images/add.png"></a>
    <% } %>

</h1>

<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Estadísticas
        </th>

        <% if (session.user && session.user.isAdmin) { %>
           <th>
           </th>
        <% } %>
    </tr> 

    <% for (var i in companies) { %> 
        <% var company = companies[i]; %>      

        <tr>
            <td>
                <%= company.name %>
            </td>

            <td>
                <a href="/companies/<%= company.id %>/statistics"><img class="icon" src="/images/reports.png"></a>
            </td>

            <% if (session.user && session.user.isAdmin) { %>
                <td>
                    <a href="/companies/<%= company.id %>"><img class="icon" src="/images/ver.png"></a>

                    <a href="/companies/<%= company.id %>?_method=DELETE"
                       onClick="return confirm('¿Seguro que quiere borrar la fábrica: <%= company.name %>?');"><img class="icon" src="/images/basura.png"></a>
                </td>
            <% } %>

        </tr>
    <% } %>

</table>

