

<h1>
	Estadísticas

    <%= company.name %>

    <a href="/goback"><img class="icon" src="/images/back.png"></a>
</h1>



<div style="overflow-x:auto;">
<table>
	<tr>
		<td> </td>
		<% for (var j in salesmen) { %>
			<% var salesman = salesmen[j]; %>
			<th colspan="2"> <%= salesman.name %> </th>
		<% } %>
	</tr>

	<% for (var i in customers) { %>
		<% var customer = customers[i]; %>

		<tr>
			<th> <%= customer.name %> </th>

			<% for (var j in salesmen) { %>
				<% var salesman = salesmen[j]; %>
				<% var total = counters[salesman.id] && counters[salesman.id][customer.id] && counters[salesman.id][customer.id].total || 0; %>
				<% var dones = counters[salesman.id] && counters[salesman.id][customer.id] && counters[salesman.id][customer.id].done || 0 %>
				<% var fails = counters[salesman.id] && counters[salesman.id][customer.id] && counters[salesman.id][customer.id].fail || 0 %>
				<% var pendings = counters[salesman.id] && counters[salesman.id][customer.id] && counters[salesman.id][customer.id].pending || 0 %>

				<td>
					Total = <%= total %>
					<br />
					Realizadas = <%= dones %>
					<br />
					Fallidas = <%= fails %>
					<br />
					Pendientes = <%= pendings %>
				</td>
				<td>
					<%= total != 0 ? (dones/total*100)+"%" : "" %>
				</td>
			<% } %>
		</tr>
	<% } %>
</table>
</div>
