
<script>
    function validateForm(formId) {

        var msgs = [];

        var ttid = document.getElementById('targetTypeId').value;
        if (ttid === "0") {
            msgs.push('- Debe seleccionar un tipo de objetivo.');
        }

        var sid = document.getElementById('salesmanId').value;
        if (sid === "0") {
            msgs.push('- Debe seleccionar un vendedor.');
        }

        if (msgs.length) {
            alert("Existen errores:\n" + msgs.join("\n"));
            return false;
        } else {
            document.getElementById(formId).submit();
            return true;
        }
    }
</script>


<form id="myForm" method="post" action="/companies/<%= company.id %>/visits">

    <div class="row">
        <h1 class="text-center">
            Crear Visitas para los Clientes de <%= company.name %>:

            <a href="#" onclick="return validateForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

            <a href="/goback"><span class="oi oi-circle-x h3"></span></a>
        </h1>
    </div>

    <ul>

        <li>
            <b>Vendedor</b>:
            <select name="salesmanId" id="salesmanId">

                <option value="0" <%= !locals.salesmanId ? "selected" : "" %> >
                    Seleccione un vendedor
                </option>

                <% for (var i in locals.salesmenInfo) { %>
                <% var salesmanInfo = salesmenInfo[i]; %>
                <option value="<%= salesmanInfo.id %>" <%= salesmanInfo.id == locals.salesmanId ? "selected" : "" %> >
                    <%= salesmanInfo.fullname %>
                </option>
                <% } %>
            </select>
        </li>

        <li>
            <label><b>Fecha planificación</b> (dd-mm-aaaa):</label>
            <input type="text" name="plannedFor"
                   value="<%= moment(locals.plannedFor).format("DD-MM-YYYY") %>"
                   pattern="\d\d-\d\d-\d\d\d\d"
                   placeholder="dd-mm-aaaa"
                   size="11"
                   autocomplete="off"/>
        </li>

        <li>
            <label>Observaciones de las Visitas:</label>
            <br/>
            <textarea type="text" name="visitsNotes" placeholder="Observaciones" rows="5"
                      cols="80"><%= locals.visitsNotes %></textarea>
        </li>

        <li>
            <b>Tipo de Objetivo</b>:
            <select name="targetTypeId" id="targetTypeId">

                <option value="0" <%= !locals.targetTypeId ? "selected" : "" %> >
                    Seleccione un tipo de objetivo
                </option>

                <% for (var i in locals.targetTypesInfo) { %>
                <% var targetTypeInfo = targetTypesInfo[i]; %>
                <option value="<%= targetTypeInfo.id %>" <%= targetTypeInfo.id == locals.targetTypeId ? "selected" : "" %> >
                    <%= targetTypeInfo.name %>
                </option>
                <% } %>
            </select>
        </li>

        <li>
            <label>Observaciones del Objetivo:</label>
            <br/>
            <textarea type="text" name="targetTypesNotes" placeholder="Observaciones" rows="5"
                      cols="80"><%= locals.targetTypesNotes %></textarea>
        </li>

    </ul>

    <a href="#" onclick="return validateForm('myForm')"><span class="oi oi-circle-check h3"></span></a>

    <a href="/goback"><span class="oi oi-circle-x h3"></span></a>

</form>




