
<h1>
    Usuario

    <a href="/goback"><img class="icon" src="/icons/back.png"></a>

    <% if (session.user) { %>

        <% if (session.user.isAdmin || session.user.id === user.id) { %>
          <a href="/users/<%= user.id %>/edit"> 
            <img class="icon" src="/icons/edit.png">
          </a>
        <% } %>

    <% } %>

</h1>

<p>
  <b>Login:</b>
  <%= user.login %>
</p>

<p>
  <b>Es Administrador:</b>
  <%= user.isAdmin ? "Si" : "No" %>
</p>


<% if (session.user.isAdmin || session.user.id === user.id) { %>
    <p>
        <b>Token:</b>
        <%= user.token %>
    </p>

    Generar nuevo token: <a href="/users/<%= user.id %>/token?_method=PUT"><img class="icon" src="/icons/reload.png"></a>
<% } %>
