
<h1> Diagnóstico </h1>

       
    <p>
      Tipo: <%= dtypeCode %>
    </p>

    <p>
      Resultado: <%= dtresultCode %>
    </p>

    <p>
      Observaciones: <%- escapeText(resultNotes) %>
    </p>

  	<p>
      Opción: <%= dtroptionCode %>
    </p>

    <p>
      Observaciones: <%- escapeText(optionNotes) %>
    </p>
