

<h1> 
    Clientes: 

    <a href="/customers/new"><img width="24px" src="/images/add.png"></a>
</h1>

<table>
    <tr>
        <th>
            Código
        </th>
        <th>
            Nombre
        </th>
        <th>
            Dirección
        </th>
        <th>
            Teléfono
        </th>
        <th>
            
        </th>
    </tr> 

    <% for (var i in customers) { %> 
        <% var customer = customers[i]; %>      

        <tr>
            <td>
                <%= customer.code %>
            </td>
            <td>
                <%= customer.name %>
            </td>
            <td>
                <%= customer.address1 %>
            </td>
            <td>
                <a href="/customers/<%= customer.id %>"><img width="24px" src="/images/ver.png"></a>

                <a href="/customers/<%= customer.id %>/edit"><img width="24px" src="/images/edit.png"></a>

                <a href="/customers/<%= customer.id %>?_method=DELETE" 
                   onClick="return confirm('¿Seguro que quiere borrar el cliente: <%= customer.name %>?');"><img width="24px" src="/images/basura.png"></a>
            </td>
         </tr> 
    <% } %>

</table>

