<div class="row">
	<h1 class="text-center">
		<a href="/goback"><span class="oi oi-arrow-circle-left h3"></a>

		Cliente:

        <% if (session.user && session.user.isAdmin) { %>
		<a href="/customers/<%= customer.id %>/edit"><span class="oi oi-pencil h3"></span></a>
        <% } %>
	</h1>
</div>

<form>

	<% var customerShowView = true; %>

    <% include _form.ejs %>
</form>


<h2>
Visitas:
</h2>

<ul>
    <% if (!customer.archived) { %>
	<li> <a href="/visits/new?customerId=<%= customer.id %>"><span class="oi oi-plus"></span> Crear una visita nueva a este cliente</a> </li>
    <% } %>

	<li> <a href="/customers/<%= customer.id %>/visits"><span class="oi oi-eye"></span> Ver todas las visitas a este cliente</a> </li>
	<li> <a href="/salesmen/<%= session.user.id %>/customers/<%= customer.id %>/visits"><span class="oi oi-eye"></span> Ver mis visitas a este cliente</a> </li>

</ul>

